
body {
    text-decoration: none;
    font-family: system-ui,
        sans-serif;
    margin: 40px auto;
    max-width: 600px;
    line-height: 1.6;
    font-size: 18px;
    color: #fbf1c7;
    background-color: #272727;
    padding: 0 10px
}

h1,
h2,
h3,
header {
    font-family: monospace;
    line-height: 1.2;
    font-weight: bold;
    text-decoration: none;
}

.color {
    color: #689d6a
}

/* Animation */
@keyframes blink {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.blink {
    animation: blink 3s ease-in-out infinite;
}

a {
    color: #fbf1c7;
    text-decoration-color: #fbf1c7;
}
li {
    margin-left: 30px;
}