    .gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: flex-start;
      max-width: 30em;
      margin: 0 auto;
      margin-bottom: 1em;
      padding: 30px;

      border: 2px solid #fff;

    }

    .gallery img {
      max-height: 20em;
      max-width: 30em;
      object-fit: cover;
      
    }

    .gallery p {
      flex: 1;
      
    }

    body {
      color: #fff;
      background-color: #111;
    }