:root {
	--color-white: #d2c9a5; 
	--color-black: #4d4539; 
	--color-accent: #8caba1;  
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

    .gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: flex-start;
      max-width: 30em;
      margin: 0 auto;
      margin-bottom: 1em;
      padding: 30px;

      border: 2px solid var(--color-white);

    }

    .gallery img {
      max-height: 20em;
      max-width: 30em;
      object-fit: cover;
      
    }

    .gallery p {
      flex: 1;
      
    }

    body {
      color: var(--color-white);
      background-color: var(--color-black);
    }