
div {
	margin: initial;
    position: initial;
	max-width: initial;
    min-width: fit-content;
}


#image {
    /* width:60%;   */
    /* top: 0;  */
    left: 0;
    /* position: absolute; */
}

#overlay {
    /* top: 0; left: 0; */

    position: fixed;
    pointer-events: none; 
}

#icon {
    position: fixed;
    top: 0; left: 0;


}

#map-and-info {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1, h2, h3 {
    padding: 0;

}

.counter {
    text-align: center;

}

.panel {
    display: flex;
    text-align: center;
    justify-content: space-around;
}



textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #d2c9a5;
    border-color: unset;
    
}

textarea:focus {
    outline: none;
  border-color: #79444a;
  box-shadow: 0 0 6px #79444a;
  -moz-box-shadow: 0 0 6px #79444a;
  -webkit-box-shadow: 0 0 6px #79444a;
}

p, ul {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: flex;
    justify-content: centers;
    
    margin-left: auto;
    margin-right: auto;
}

