
div {
	margin: initial;
}


#container {
    /* margin-right: auto; */

}

#image {
    /* width:60%;   */
    /* top: 0;  */
    left: 0;
    /* position: absolute; */
}

#overlay {
    /* top: 0; left: 0; */

    position: absolute;
    pointer-events: none; 
}

#icon {
    position: absolute;
    top: 0; left: 0;


}

#map-and-info {
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3 {
    padding: 0;
}

h3 {
    text-align: end;
}